body{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

body,h1{
    padding: 0;
    margin: 0;
}

.dashboard{
    font-size: 20px;
    background-color: #0ea5e9;
    color:white;

    grid-row-start: 1;
    grid-row-end: 14;
}

#dashboard{
    display: flex;
    gap: 24px;
    padding: 12px 0 0 24px;
    
}

.article-section{
    background-color: #d4d4d8;
}

.cards{
    background-color: white;
}

.announcement-cards{
    background-color: white;
}

.trending-cards{
    background-color: white;
}

.dashboard ul {
    list-style-type:none;
    font-size: 28px;
    padding-left: 16px;
}

.dashboard ul li {
    padding: 8px;
    display: flex;
    align-items: flex-end;
    gap: 24px;
}